h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.button {
    display: flex;
    width: 50%;
    margin: 5px;
}

.container {
    border: 2px solid black;
    padding: 70px;
    border-radius: 20px;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

